<a href="https://colab.research.google.com/github/dattatreyanh08/Python_ml/blob/main/Second_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SECOND ASSIGNMENT ON CONDITONAL STATEMENTS AND OPERATORS BASED ON PYTHON SEQUENCE,UNSEQUENCE DATA TYPES,

Sequence Data type - List  (Findiing largest,smallent,sorting the given data,finding the data, inserting data)

In [ ]:
list0=['d','a','t','t','a','t','r','e','y','a']
list1=['hii',888,0.8]
list2=[8,18,88,80,0,1,3]
print(list1)
print(list1[1])
# Adding two lists
list3=list1 + list2
print(list3)
#Sorting the list
list2.sort()
print(list2)
#Indexing
print(list1[2:3])
#Reversing the given list
list2.reverse()
print(list2)
#Finding the maximum and minimum in the list
print(min(list2))
print(max(list2))
# Incresing the list
list2.extend([10,20,30,40])
print(list2)
# Adding new data to the list
list1.append('Itachi')
print(list1)
list1[0]='Garou'
print(list1)
#############
list0.reverse()
print(list0)
list0.sort()
print(list0)
list0.reverse()
print(list0)

['hii', 888, 0.8]
888
['hii', 888, 0.8, 8, 18, 88, 80, 0, 1, 3]
[0, 1, 3, 8, 18, 80, 88]
[0.8]
[88, 80, 18, 8, 3, 1, 0]
0
88
[88, 80, 18, 8, 3, 1, 0, 10, 20, 30, 40]
['hii', 888, 0.8, 'Itachi']
['Garou', 888, 0.8, 'Itachi']
['a', 'y', 'e', 'r', 't', 'a', 't', 't', 'a', 'd']
['a', 'a', 'a', 'd', 'e', 'r', 't', 't', 't', 'y']
['y', 't', 't', 't', 'r', 'e', 'd', 'a', 'a', 'a']

***Tuple*** - Sorting, reversing, indexing, finding max and min in the list

In [ ]:
tuple1=(8,18,80,88,888,3,33,333)
tuple2=('goku','vegeta','itachi','ayanukoji','garou')
# Adding tuples
tuple3=tuple1+tuple2
print(tuple3)
# Indexing
print(tuple3[3])
# sorting the list
list1=list(tuple1)
print(list1)
list1.sort()
print(list1)
tuple4=tuple(list1)
print(tuple4)
# Reversing the list
list2=list(tuple4)
print(list2)
list2.reverse()
print(list2)
tuple4=tuple(list2)
print(tuple4)
# Finding the maximum and minimum
print(min(tuple4))
print(max(tuple4))
tuple6=('Hii',121,0.5)
print(tuple6)

(8, 18, 80, 88, 888, 3, 33, 333, 'goku', 'vegeta', 'itachi', 'ayanukoji', 'garou')
88
[8, 18, 80, 88, 888, 3, 33, 333]
[3, 8, 18, 33, 80, 88, 333, 888]
(3, 8, 18, 33, 80, 88, 333, 888)
[3, 8, 18, 33, 80, 88, 333, 888]
[888, 333, 88, 80, 33, 18, 8, 3]
(888, 333, 88, 80, 33, 18, 8, 3)
3
888
('Hii', 121, 0.5)

***Non Sequence Data Type*** - ***Set***

In [ ]:
set1={'goku','vegeta',8,88,888}
set2={3,0.3,333,'Monster','devil','garou'}
set3 = set1 | set2
print(set3)
set3.add(808)
print(set3)
# Sorting the list3
list1=list(set3)
list1[0:1]=0.8,0.3
print(list1)
list1.remove('garou')
list1.remove('Monster')
list1.remove('devil')
list1.remove('goku')
list1.remove('vegeta')
print(list1)
list1.sort()
print(list1)
set4=tuple(list1)
print(set4)
set5=(input())

{0.3, 3, 'garou', 8, 'Monster', 'devil', 333, 888, 'goku', 88, 'vegeta'}
{0.3, 3, 'garou', 8, 808, 'Monster', 'devil', 333, 888, 'goku', 88, 'vegeta'}
[0.8, 0.3, 3, 'garou', 8, 808, 'Monster', 'devil', 333, 888, 'goku', 88, 'vegeta']
[0.8, 0.3, 3, 8, 808, 333, 888, 88]
[0.3, 0.8, 3, 8, 88, 333, 808, 888]
(0.3, 0.8, 3, 8, 88, 333, 808, 888)
dattatreya

***Dictionary***

In [ ]:
dictionary_1={'Garou':8,'goku':88,'vegeta':888}
dictionary_2={'naruto':3,'itachi':33,'jiraya':333}
# Adding the 2 dictionary
di_3= dictionary_1 | dictionary_2
print(di_3)
# Changing the value with help of key
dictionary_1['Garou']=81
print(dictionary_1)

{'Garou': 8, 'goku': 88, 'vegeta': 888, 'naruto': 3, 'itachi': 33, 'jiraya': 333}
{'Garou': 81, 'goku': 88, 'vegeta': 888}

***Programs Using Conditional Statements***

TO CHECK ENTERED NUMBER IS EVEN OR ODD

In [ ]:
a=(input('Enter Value Of A : '))
number= int(a)
if (number%2==0) :
  print('Entered Number Is Even Number')
else:
  print('Entered Number Is Odd')

Enter Value Of A : 3
Entered Number Is Odd

**Program To Check Which Number Is Greater**

In [ ]:
a=int(input('Enter Value Of A :'))
b=int(input('Enter Value Of B :'))
if a>b :
  print('A Is Greater Than B')
elif a==b:
  print('A Is Equal TO B')
else:
  print('A Is Less Than B')

Enter Value Of A :3
Enter Value Of B :8
A Is Less Than B

***To Check Whether Entered Number Is In The List Or Not***

In [ ]:
list1=[8,88,3,33]
number=int(input('Enter Any Number To Check It Is In The List Or Not :'))
if list1[0]==number:
  print('Entered Number Is In The List')
elif list[1]==number:
   print('Entered Number Is In The List')
elif list[2]==number:
   print('Entered Number Is In The List')
elif list[3]==number:
   print('Entered Number Is In The List')
else:
  print('Entered Number Is Not In The List')

Enter Any Number To Check It Is In The List Or Not :888
Entered Number Is Not In The List